* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
}

h1 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #253858;
}

h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #34495e;
}

h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #4f5d75;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: grey;
}



a {
  text-decoration: inherit;
  color: inherit;
}



.mainImg {
  padding: 10px 0 5px 0;
}